In [1]:
import pandas as pd
import numpy as np

In [41]:
!pip3 install sidetable

Requirement already satisfied: sidetable in /Users/uginpo/anaconda3/lib/python3.10/site-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from sidetable) (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from pandas>=1.0->sidetable) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from pandas>=1.0->sidetable) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from pandas>=1.0->sidetable) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/uginpo/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.0->sidetable) (1.16.0)

In [42]:
import sidetable

In [38]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
 'position': ['G', 'G', 'F', 'F', 'G', 'F', 'F', 'F'],
 'all_star': ['Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y'],
 'points': [4, 4, 6, 8, 9, 5, 5, 12]})

In [3]:
df

  team position all_star  points
0    A        G        Y       4
1    A        G        N       4
2    A        F        Y       6
3    A        F        Y       8
4    B        G        N       9
5    B        F        N       5
6    B        F        N       5
7    B        F        Y      12

In [44]:
my_table = pd.pivot_table(df, values='points',
 index=['team', 'all_star','position'],
 aggfunc='sum')

In [47]:
my_table.stb.subtotal(sub_level=[1])

                            points
A           N            G       4
            Y            F      14
                         G       4
            A - subtotal        22
B           N            F      10
                         G       9
            Y            F      12
            B - subtotal        31
grand_total                     53

In [22]:
ind=my_table.index

In [23]:
ind

MultiIndex([('A', 'N', 'G'),
            ('A', 'Y', 'F'),
            ('A', 'Y', 'G'),
            ('B', 'N', 'F'),
            ('B', 'N', 'G'),
            ('B', 'Y', 'F')],
           names=['team', 'all_star', 'position'])

In [36]:
ind.names[0]

'team'

In [27]:
len(ind)

6

In [62]:
df_m= pd.DataFrame({'Месяц': np.arange(1, 13).astype(str)})
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Месяц   12 non-null     object
dtypes: object(1)
memory usage: 224.0+ bytes

In [63]:
list_months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
           'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
df_months_name=pd.DataFrame({'Месяц': range(1,13), 'Название': list_months})
month_d = {	'01':'Janauary',
		'02':'February',
		'03':'March',
		'04':'April',
		'05':'May',
		'06':'June',
		'07':'July',
		'08':'August',
		'09':'September',
		'10':'October',
		'11':'November',
		'12':'December'		}

In [69]:
df_m.replace({'10':'October',                       
                        '11':'November',
                        '12':'December'})
df_m

   Месяц
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12